* {
    margin: 0;
    padding: 0;
}

.logo ul {
    list-style-type: none;
    margin-left: 100px;
}

.logo ul li {
    float: left;
    /* width: 100px; */
    height: 50px;
    line-height: 50px;
    margin: 35px 0 10px 0;
}

.logo ul li img{
    width: 50px;
    height: 50px;
}
.logo ul li span{
    color: rgb(74, 106, 163);
    font-family:  NSimSun;
}